In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/AANB-Data-Final-Revised20210414.csv', encoding='unicode_escape')
df['enslaved_bool'] = np.where(df['Ever Enslaved'].fillna('').str.lower().str.contains('enslaved'), True, False)
df

,ID,oldID,Headword,forename,surname,gender,Free Born in North America,Free before 13th Amendment,Ever Enslaved,How was freedom attained,...,Death Place Country.1,Occupation #1,Occupation #2,Occupation #3,Occupation #4,Occupation #5,Occupation #6,Occupation #7,Occupation #8,enslaved_bool
0,36020.0,/opr/t0001/e1839,aaron,Aaron,,M,NaN,Yes,Enslaved,"Ran away to Lancaster, Ohio at the age of 29 o...",...,NaN,Slave,Fugitive Slave,Slave Narrative Author,NaN,NaN,NaN,NaN,NaN,True
1,34829.0,/opr/t0001/e0641,abraham,Abraham,,M,NaN,Yes,Enslaved,Fled enslavement and made his way to Florida,...,NaN,Slave,American Indian Leader,Interpreter,Fugitive Slave,NaN,NaN,NaN,NaN,True
2,35438.0,/opr/t0001/e1253,aliceofdunk'sferry,Alice of Dunk's Ferry,,F,NaN,No,Enslaved,Enslaved her entire life.,...,United States,Slave,Orator,NaN,NaN,NaN,NaN,NaN,NaN,True
3,35032.0,/opr/t0001/e0845,billy,Billy,,M,NaN,No,Enslaved,No evidence that he was freed,...,NaN,Slave,Alleged Traitor,NaN,NaN,NaN,NaN,NaN,NaN,True
4,39700.0,/opr/t0001/e5936,blackcaesar,Black Caesar,,M,NaN,Yes,Enslaved,Escaped from the slave ship on which he was be...,...,United States,Slave,Pirate,NaN,NaN,NaN,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1299,34295.0,/opr/t0001/e0107,cesar,Cesar,NaN,M,NaN,Yes,Enslaved,Requested his freedom and 100 pounds per year ...,...,United States,Slave,Patent Medicine Maker,Physician,NaN,NaN,NaN,NaN,NaN,True
1300,34375.0,/opr/t0001/e0187,esteban,Esteban,NaN,M,NaN,Yes,Enslaved,In 1534 he and three Spaniards escaped from th...,...,United States,Slave,Explorer,NaN,NaN,NaN,NaN,NaN,NaN,True
1301,34621.0,/opr/t0001/e0433,onesimus,Onesimus,NaN,M,NaN,Yes,Enslaved,He purchased his freedom from his owner and pr...,...,United States,Slave,Medical Scientist,NaN,NaN,NaN,NaN,NaN,NaN,True
1302,34722.0,/opr/t0001/e0534,stagolee,Stagolee,NaN,M,NaN,NaN,NaN,NaN,...,United States,Murderer,Folk Hero,NaN,NaN,NaN,NaN,NaN,NaN,False
1303,38079.0,/opr/t0001/e3952,unclejack,Uncle Jack,NaN,M,NaN,Yes,Enslaved,"After his master's died, he purchased his free...",...,United States,Slave,Educator,Baptist Clergy,NaN,NaN,NaN,NaN,NaN,True